body {
    background-image: url('background.png') !important;
}
.safe {
    display: none !important;
}
iframe:not(.safe), img:not(.safe), video:not(.safe), .unsafe {
    display: unset !important;
}
.panic {
    background-color: #FE1D25 !important;
}
.content p {
    font-size: larger;
}
